:root {
    font-size: 1.5vw;
    --brightRed: hsl(12, 88%, 59%);
    --darkBlue: hsl(228, 39%, 23%);
    --darkGrayishBlue: hsl(227, 12%, 61%);
    --veryDarkBlue: hsl(233, 12%, 13%);
    --veryPaleRed: hsl(13, 100%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
}

@media screen and (min-width: 900px) {
    :root {font-size: 11px;}

    header {
        display: flex;
    }
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url(https://fonts.google.com/specimen/Be+Vietnam+Pro) format("truetype");
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    color: var(--darkGrayishBlue);
    margin: 0px;
    padding: 0px;
    background: url(./images/bg-tablet-pattern.svg) repeat white;
    min-height: 100vh;
    max-width: 100vw;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

header > div {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 7rem;
    padding: 0px;
    height: 2rem;
}

header > div > img {
    height: 2rem;
}

.navbar {
    display: flex;
}

.navbar > div {
    margin: 0ch;
    padding: 0ch;
    margin-right: 2rem;
}

.navbar > div > button {
    background: none;
    border: none;
    color: var(--veryDarkBlue);
    font-size: 1rem;
    top: 50%;
}

footer {
    background-color: var(--veryDarkBlue);
    height: 30vh;
    width: 100vw;
    position: relative;
    top: calc(100vh);
}

.simplifyBanner {
    position: relative;
    height: 50%;
    background: url(/images/bg-simplify-section-desktop.svg) no-repeat var(--brightRed);
}

.simplifyBanner > p {
    position: relative;
    color: white;
    font-size: 2rem;
    margin: 0em;
    margin-left: 5rem;
    width: calc(50vw - 7.5rem);
    top: 50%;
    transform: translateY(-50%);
}